<!DOCTYPE html>
<html ng-app="cyclingblog">
  <head>
      <title><%= title %></title>
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.7/jquery.fullPage.min.css" />
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="/bower_components/textAngular/dist/textAngular.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/preview.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/setting.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/post.css">


  </head>
  <body>
      <ui-view></ui-view>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.7/jquery.fullPage.min.js"></script>
      <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.17/angular-ui-router.js"></script>
      <script type="text/javascript" src="http://cdn.rawgit.com/nmccready/angular-simple-logger/0.1.7/dist/angular-simple-logger.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.3.2/angular-google-maps.js"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
      <script type="text/javascript" src="http://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>
      <script type="text/javascript" data-require="jszip@2.4.0" data-semver="2.4.0" src="https://cdn.rawgit.com/Stuk/jszip/v2.4.0/dist/jszip.js"></script>
      <script type="text/javascript" src="/bower_components/randomcolor/randomColor.js"></script>
      <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
      <script type="text/javascript" src="/bower_components/textAngular/dist/textAngular-rangy.min.js"></script>
      <script type="text/javascript" src="/bower_components/textAngular/dist/textAngular-sanitize.min.js"></script>
      <script type="text/javascript" src="/bower_components/textAngular/dist/textAngular.min.js"></script>


      <script type="text/javascript" src="/javascripts/angularapp.js"></script>
      <script type="text/javascript" src="/javascripts/controllers/registration.js"></script>
      <script type="text/javascript" src="/javascripts/controllers/setting.js"></script>
      <script type="text/javascript" src="/javascripts/controllers/homepage.js"></script>
      <script type="text/javascript" src="/javascripts/controllers/post.js"></script>
      <script type="text/javascript" src="/javascripts/factory/postfactory.js"></script>
      <script type="text/javascript" src="/javascripts/factory/mapdatafactory.js"></script>
      <script type="text/javascript" src="/javascripts/factory/clusterfactory.js"></script>


  </body>
</html>




