<nav class="side-navigation">
    <ul>
        <img src="/images/zaki1.jpg" class="img-responsive img-circle  profilepictue">
        <p class="userName">{{userName}}</p>

        <li><a href=""><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-home fa-stack-1x"></i></span>Home</a></li>

        <li><a href=""><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-info fa-stack-1x"></i></span>About</a></li>

        <li><a href=""  ><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-tachometer fa-stack-1x"></i></span>Dashboard</a></li>

        <li><a href=""><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-comment fa-stack-1x"></i></span>Blogs</a></li>

        <li><a href=""><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-cog fa-stack-1x"></i></span>Settings</a></li>

        <li><a ng-click="logout()"><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-sign-out fa-stack-1x"></i></span>Logout</a></li>
    </ul>
</nav>

<main class="cd-main">
    <section class="cd-section">
        <header>
            <div class="cd-title page-header">
                <h2>Cycling Routes</h2>
            </div>
        </header>
        <div class="cd-content">
            <form class="homepage-map-form">
                <div class="map-wrap">
                    <ng-map zoom="12" center={{mapCenter}}>
                <div ng-repeat="points in multipoints">
                        <shape
                               name="polyline"
                               id="foo"
                               icons="[{
                                    icon: {
                                            path: 'CIRCLE',
                                            scale: 5,
                                            strokeColor: '#393'
                                            }, offset: '100%'
                                    }]"
                               path="{{points}}"
                               geodesic="true"
                               stroke-color={{color}}
                               stroke-opacity="1"
                               stroke-weight="5">
                        </shape></div>
                    </ng-map>
                </div>
            </form>
                <div class="panel panel-default show-routeinfo">

                    <div class="panel-heading">
                        <h2 class="panel-title text-center">Cycling Routes<span class=" glyphicon glyphicon-map-marker"></span></h2>
                    </div>

                    <div class="panel-body">

                        <div class="route-upload">
                            <form>
                                <label>Upload Cycling Routes</label>

                                <input type="file" accept=".xml,.kmz,.gpx" id="file" /><br/>

                                <label>File Progress</label>
                                <div id="progress" class="progress">
                                    <div class="progress-bar progress-bar-success "></div>
                                </div>
                             <div class="file-upload-btns">
                                <button type="button" class="btn btn-primary btn-s" ng-click="GetFile()">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>

                                <button type="button" class="btn btn-warning btn-s" ng-click="ResetUpload()">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span> Cancel
                                </button>
                             </div>
                            </form>
                        </div>


                            <div class="route-list-container">
                                    <h4>Route History</h4>
                                <div class="success-filedetails" ng-repeat="r in routeobjects">

                                    <input type="checkbox" ng-model="r.selected" ng-click="selectingRoutes($index, r.points)">
                                    <p class="name">{{r.route.routename}}</p>

                                    <!--<button type="button" class="btn btn-info btn-sm" ng-click="displayRoute(route._id)">-->
                                        <!--<span class="fa fa-eye"></span> Display-->
                                    <!--</button><br/>-->

                                    <button type="submit" class="btn btn-success btn-sm" ng-click="WriteBlog()">
                                         <span class="fa fa-comment"></span> Blog
                                    </button>

                                    <span class="fa fa-times fa-2x"></span>


                                </div>
                        </div>
                </div>
            </div>

        </div>
    </section>
</main>