<nav class="side-navigation">
    <ul>
        <img src="/images/zaki1.jpg" class="img-responsive img-circle  profilepictue">
        <p class="userName">{{userName}}</p>

        <li><a href=""><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-home fa-stack-1x"></i></span>Home</a></li>

        <li><a href=""><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-info fa-stack-1x"></i></span>About</a></li>

        <li><a href=""  ><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-tachometer fa-stack-1x"></i></span>Dashboard</a></li>

        <li><a href=""><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-comment fa-stack-1x"></i></span>Blogs</a></li>

        <li><a href=""><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-cog fa-stack-1x"></i></span>Settings</a></li>

        <li><a ng-click="logout()"><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-sign-out fa-stack-1x"></i></span>Logout</a></li>
    </ul>
</nav>

<main class="cd-main">
    <section class="cd-section">
        <header>
            <div class="cd-title page-header">
                <h2>Cycling Routes</h2>
            </div>
        </header>
        <div class="cd-content">
            <form>
                <ng-map id="map" default-style="false" center="current-location" zoom="12">
                    <marker position="current" animation="Animation.BOUNCE" centered="true"></marker>
                </ng-map>

                <div class="panel panel-default show-routeinfo">

                    <div class="panel-heading">
                        <h2 class="panel-title text-center">Selected Route Information<span class="glyphicon glyphicon-map-marker"></span></h2>
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label>Location</label>
                            <input type="text" class="form-control" id="location" value="Birmingham" readonly>
                        </div>

                        <div class="form-group">
                            <label>Latitude</label>
                            <input type="text" class="form-control" id="latitude" value="52.483" readonly>
                        </div>
                        <div class="form-group">
                            <label>Longitude</label>
                            <input type="text" class="form-control" id="longitude" value="1.893" readonly>
                        </div>
                        <button type="submit" class="btn btn-success" onclick="AddBlog()">
                            <span class="fa fa-comment"></span> Blog
                        </button>

                        <input type="button" class="btn btn-info" id="showFileUpload" value="Upload Routes"><br/><br/>
                        <div class="route-upload">
                            <label>Upload Cycling Routes</label>

                            <input type="file" accept=".xml,.kmz,.gpx" id="file" /><br/>

                            <label>File Progress</label>
                            <div id="progress" class="progress">
                                <div class="progress-bar progress-bar-success "></div>
                            </div>

                            <button type="button" class="btn btn-primary btn-s" ng-click="GetFile()" id="btnuploadremove">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-danger btn-s" ng-click="Remove()" id="btnuploadremove1">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button><br/>
                        </div>
                </div>
            </div>
        </form>
        </div>
    </section>
</main>