<main class="cd-main">
    <section class="cd-section">
        <header>
            <div class="cd-title page-header">
                <h2>Homepage</h2>
            </div>
        </header>
        <div class="cd-content">
            <form class="homepage-map-form">
                <div class="map-wrap">
                    <div id="map"></div>
                </div>
            </form>
                <div class="panel panel-default show-routeinfo">

                    <div class="panel-heading">
                        <h2 class="panel-title text-center">Cycling Routes<span class=" glyphicon glyphicon-map-marker"></span></h2>
                    </div>

                    <div class="panel-body">

                        <div class="route-upload">
                            <form>
                                <label>Upload Cycling Routes</label>

                                <input type="file" accept=".xml,.kmz,.gpx" id="file" /><br/>

                                <label>File Progress</label>
                                <div id="progress" class="progress">
                                    <div class="progress-bar progress-bar-success "></div>
                                </div>
                             <div class="file-upload-btns">
                                <button type="button" class="btn btn-primary btn-s" ng-click="GetFile()">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>

                                <button type="button" class="btn btn-warning btn-s" ng-click="ResetUpload()">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span> Cancel
                                </button>
                             </div>
                            </form>
                        </div>
                            <div class="route-list-container">
                                    <h4>Route History</h4>
                                <div class="success-filedetails" ng-repeat="r in routeobjects">

                                    <input type="checkbox" ng-model="r.selected" ng-click="selectingRoutes($index)">

                                    <p class="name">{{r.route.routename}}</p>

                                    <a ui-sref="post({routeId: r.route._id})">
                                        <button type="submit" class="btn btn-success btn-sm">
                                             <span class="fa fa-comment"></span> Blog
                                        </button>
                                    </a>

                                    <span ng-click="removeRoutes(r, $index)" class="fa fa-times cross fa-2x"></span>

                                </div>
                        </div>
                </div>
            </div>

        </div>
    </section>
</main>