<nav class="side-navigation">
    <ul>
        <img src="/images/zaki1.jpg" class="img-responsive img-circle  profilepictue">
        <p class="userName">{{userName}}</p>

        <li><a href="#/homepage"><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-home fa-stack-1x"></i></span>Home</a></li>

        <li><a href="#/about"><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-info fa-stack-1x"></i></span>About</a></li>

        <li><a href="#/blogs"><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-comment fa-stack-1x"></i></span>Blogs</a></li>

        <li><a href="#/myBlogs"><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-comment fa-stack-1x"></i></span>My Blogs</a></li>

        <li><a ng-click="logout()"><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-sign-out fa-stack-1x"></i></span>Logout</a></li>
    </ul>
</nav>

<main class="cd-main">
    <section class="cd-section">
        <header>
            <div class="cd-title page-header">
                <h2>Blogs</h2>
            </div>
        </header>
        <div class="cd-content">

            <div class="list-group">
                <div  class="list-group-item list-group-item-heading" ng-repeat="post in posts">
                <span>
                <a href="#/blog/{{post._id}}">{{post.title}}</a></span>
                    {{post.message}}
                    <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
                    {{post.upvotes}}

                </div>
            </div>

        </div>
    </section>
</main>




