<main class="cd-main">
    <section class="cd-section">
        <header>
            <div class="cd-title page-header">
                <h2>Post a blog</h2>
            </div>
        </header>
        <div class="cd-content">

            <form ng-submit="addPost()">

                <div class="blogMap-wrap">
                    <div id="blogMap"></div>
                </div>

                <h4>Blog Title</h4>

                    <input type="text" class="title form-control" ng-model="title" placeholder="....">

                <br/>
                <br/>
                <br/>
                <!--<div text-angular-toolbar class="toolbar" name="toolbar" ta-toolbar="[['h1', 'h2', 'p', 'pre', 'quote', 'bold', 'italics', 'underline', 'ul', 'ol', 'justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent', 'insertImage']]"></div>-->

                <text-angular ng-model="htmlVariable" required></text-angular>

                <button type="submit" class="btn btn-primary btn-s post-btn" ng-click="CheckForm()">
                    <span class="glyphicon glyphicon-upload"></span> Post
                </button>

                <button type="button" class="btn btn-warning btn-s cancel-btn">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> Cancel
                </button>
            </form>
        </div>
    </section>
</main>
