<nav class="side-navigation">
    <ul>
        <img src="/images/zaki1.jpg" class="img-responsive img-circle  profilepictue">
        <p class="userName">Adrise Younis</p>

        <li><a href="homepage"><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-home fa-stack-1x"></i></span>Home</a></li>

        <li><a href=""><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-info fa-stack-1x"></i></span>About</a></li>

        <li><a href=""><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-tachometer fa-stack-1x"></i></span>Dashboard</a></li>

        <li><a href=""><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-comment fa-stack-1x"></i></span>Blogs</a></li>

        <li><a href=""><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-cog fa-stack-1x"></i></span>Settings</a></li>

        <li><a ng-click="logout()"><span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-sign-out fa-stack-1x"></i></span>Logout</a></li>
    </ul>
</nav>

<main class="cd-main">
    <section class="cd-section">
        <header>
            <div class="cd-title page-header">
                <h2>Setting</h2>
            </div>
        </header>
        <div class="cd-content setting-form">
                <div class="row">
                    <div class="form-group col-xs-5 col-lg-3">
                        <label>Firstname</label>
                        <input type="text" ng-model="firstname" id="firstname" ng-readonly="true" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group  col-xs-5 col-lg-3">
                        <label>Last name</label>
                        <input type="text" ng-model="lastname" id="lastname" ng-readonly="true" class="form-control input-normal" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-5 col-lg-3">
                        <label>Email</label>
                        <input type="text" ng-model="email" id="email" ng-readonly="true" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-5 col-lg-3">
                        <label>Password</label>
                        <input type="password" ng-model="password" ng-readonly="true" id="password" class="form-control" />
                    </div>
                </div>

                <form ng-submit="uploadroutes()">
                    <div class="form-group col-lg-5 setting-fileup">
                        <label>Upload Cycling Routes</label>

                        <input type="file" accept=".xml,.kmz,.gpx" id="file" ng-disabled="true" />
                        <br/>

                        <label>File Progress</label>
                        <div id="progress" class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>

                        <button type="button" class="btn btn-success btn-s" ng-click="GetFile()" ng-disabled="!item">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="Remove()" ng-disabled="!remove">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                        <br/>

                    </div>
                </form>

                <div class="setting-button">
                    <button type="button" ng-model="btnamend" ng-show="!showamend" ng-click="showamend=true; Amend()" class="btn btn-primary btn-md">
                        <span class="fa fa-pencil-square-o"></span> Amend
                    </button>
                    <button type="button" ng-model="btnsave" ng-show="showsave" class="btn btn-success btn-md">
                        <span class="fa fa-floppy-o"></span> Save
                    </button>
                    <button type="button" ng-model="btncancel" ng-show="showCancel" ng-click="Cancel()" class="btn btn-warning btn-md">
                        <span class="fa fa-exclamation-triangle"></span> Cancel
                    </button>
                </div>
        </div>
    </section>
</main>