html,
body {
    overflow: hidden;
}

.map-wrap{
    height: 570px;
    width:60%;
    float: left;
}

ng-map{
    height: 100%;
    width: 100%;
}

.show-routeinfo{
    float: right;
    width: 37%;
    margin: 0 1.5%;
    height: 570px;
}

.success-filedetails{
    width: 100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2.5%;
}
.route-list-container{

    overflow: scroll;
    margin-top: 5%;
    height: 300px;

}