html,
body {
    height: 100%;
    overflow: hidden;
}

.map-wrap{
    width: 645px;
    height: 545px;
}

ng-map{
    width: 100%;
    height: 100%;
}

.show-routeinfo{
    position: fixed;
    height: 78%;
    top: 17%;
    width: 38.5%;
    left: 61%;
}
