.side-navigation {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 9%;
    background: #66CDAA;
}


ul li a {
    position: relative;
    display: block;
    margin: 25%;
    width: 90%;
    left: -46.5%;
    text-align: center;
    color: black;
    font-size: 1.3rem;
}

ul li a span{
    display: block;
}

.profilepictue {
    position: relative;
    margin: 20%;
    transform: translateX(-45%);
}
.userName {
    position: relative;
    margin-top: -15%;
    margin-left: -52%;
    font-size: 1.3rem;
    font-family: "Sintony", sans-serif;
    text-align: center;
    margin-bottom: 50%;
}
a:hover {
    text-decoration: none;
    color: azure;
}
.cd-main {
    height: 100vh;
    overflow: hidden;
}
.cd-section {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-left: 10%;
}

.cd-title h2 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}
